<div class="main">


    <nav class="navbar navbar-expand-sm">
           
        <ul class="nav navbar-nav navbar-right">
            <li><a class="lotir" href="">HOME</a></li>
            <li><a class="lotir" href="">A PROPOS</a></li>
            <li><a class="lotir" href="">CONTACT</a></li>
            <li><a class="lotir" href="">SERVICES</a></li>
        </ul>
    </nav>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm g-dark  ">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Francais
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Francais</a>
                        <a class="dropdown-item" href="#">Anglais</a>
                        <a class="dropdown-item" href="#">Espagnol</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Fcfa Fr
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Fcfa Fr</a>
                        <a class="dropdown-item" href="#">Euro</a>
                        <a class="dropdown-item" href="#">U S DOLLAR</a>
                    </div>
                </li>
            </ul>

            <nav class="navbar navbar-expand-sm .justify-content-space-between; ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aide</a>
                    </li>
                </ul>
            </nav>
        </nav>

    </div>

    
        <nav class="navbar navbar-expand-sm .justify-content-space-between; ">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="hdf" href="#">Messages</a>
                    <div class="separate">

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hdf" href="#">My Account</a>
                    <div class="separate">
                        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hdf" href="#">Aide</a>
                    <div class="separate">
                        
                    </div>
                </li>
            </ul>
        </nav>
        </nav>

    </div>

</div>
</div>

</div>

<nav class="navbar navbar-expand-sm .justify-content-space-between; ">


    <ul class="navbar-nav">
        <li>
            <div class="search-box">

                <input type="text" class="form-control" placeholder="Search your products..." name="" id="">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Aide</a>
        </li>
    </ul>
</nav>

<div class="divide">

    <ul class="min">
        <li class="card store" style="width: 13rem;text-align: left;">
            <img src="./shoes-1743929_640.jpg" class="card-img-top" alt="...">
            <div class="card-body cardy">
                <ul class="somme">
                    <li class="card-text">Chassure louboutin nike</li>
                    <li class="card-text">35000FCFA</li>
                    <li class="card-text">Il ya 3min</li>
                </ul>

            </div>
        </li>

        <li class="card store" style="width: 13rem;text-align: left;">
            <img src="./shoes-1743929_640.jpg" class="card-img-top" alt="...">
            <div class="card-body cardy">
                <ul class="somme">
                    <li class="card-text">Chassure louboutin nike</li>
                    <li class="card-text">35000FCFA</li>
                   
                </ul>

            </div>
        </li>

        <li class="card store" style="width: 13rem;text-align: left;">
            <img src="./shoes-1743929_640.jpg" class="card-img-top" alt="...">
            <div class="card-body cardy">
                <ul class="somme">
                    <li class="card-text">Chassure louboutin nike</li>
                    <li class="card-text">35000FCFA</li>
                    
                </ul>

            </div>
        </li>

        <li class="card store" style="width: 13rem;text-align: left;">
            <img src="./shoes-1743929_640.jpg" class="card-img-top" alt="...">
            <div class="card-body cardy">
                <ul class="somme">
                    <li class="card-text">Chassure louboutin nike</li>
                    <li class="card-text">35000FCFA</li>
                    <li class="card-text">Il ya 3min</li>
                </ul>

            </div>
        </li>
    </ul>
</div>