body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    margin: 5px;
    background: #fff;
    margin-bottom: 20px; 
    border-bottom: 3px solid #ccc;
    z-index: 2;
}
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between;
}
#hdf{
    color: tomato;
}
.createcat{

}
.margin{
    margin-top: 2em;
}
.lotir{
    color: black;
}
.separate{
    background: aliceblue;
    width: 0.5%;
    height: 2vh;
    position: absolute;
    margin-top: -25px;
}
.separate02{
    background: radial-gradient(black, transparent);
    width: 0.5%;
    height: 6.5vh;
    margin-left: 165px;
    position: absolute;
    margin-top: -34px;
}
.gift{
    padding-left: 3.7em;
    margin-left: 39px;
}
.links{
    color: white!important;
}
.bd-example{
    margin-top: 2em;
}
a{
color: #fff;
text-decoration: none;
background-color: transparent;
}
.protection{
    
}
.g-dark {
    height: 5vh;
    padding-left: 3.7em;
}
.top-nav-bar2{
    height: 57px;
    top: 0;
    position: sticky;
    margin: 5px;
    background: #fff;
    margin-bottom: 20px; 
    border-bottom: 3px solid #ccc;
    z-index: 2;

}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #ccc !important;
    border-top-left-radius: 20px !important;
    font-weight: lighter;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
}
.second{
    margin-left: 11.5em;
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}
.Apropos{
    margin-left: -1.8em;
}
#market{
    width: 28%;
    position: absolute;
    margin-left: -68px;
    margin-top: -8px;
}
.input-group-text{
    background-color: #007bff!important;
    border: 1px solid #ccc;
    margin: 8.8px 11px 20px -1px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    cursor: pointer;
    border-bottom-right-radius: 20px !important;
}
.home{
    list-style: none;
    margin-top: 1em;
    text-decoration: none;
}
.infofoot{
    margin-left: -4px;
}
.logofoot{
    margin-left: 7em;
}
#marketplace{
    width: 30%;
    margin-left: 1em;
}
.infolist{
    list-style: none;
}
#googleplay{
    width: 42%;
    border-radius: 0.75em;
    margin-left: 0.75em;
}
.footback
{
    background: rgb(185, 179, 179);
}
.download{
    margin-left: 4em;
}

.footer2{
   
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
 #cont:hover{
    color: #007bff!important;
    text-decoration: none;
   
}
.accessoires{
    margin-top: 2em;
    background: #007bff;
    height: 7vh;
}
.listtype{
    margin-left: -15px;
}
.grouping{
    list-style: none;
}
.grp1{
    display: inline-block;
    padding-left: 5.36em;
    padding-top: 10px;
    color: white;
}
#cont{
    color: black;
    text-transform: uppercase;

}
.list{
    display: inline-block;
    padding-left: 1.45em;
}
.search-box{
    display: inline-flex;
    width: 47%;
    padding-left: 2em;
}
.fa-search{
    color: #fff;
} 
.menu-bar {
    width: 40%;
    height: 57px ;
float: right;
}
.menu-bar2 {
    width: 40%;
    height: 57px ;
float: right;
}
.menu-bar ul  {
display: inline-block;
    text-align: center;
    background-color:#ccc;
    cursor: pointer;
}
.aide{
    border-left: 1px solid #ccc;
    list-style-type: none;
    text-align: center;
    background-color:#ccc;
    cursor: pointer;
    padding: 15px 35px;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
}
.menu-bar2 ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
}



.mySlides {display: none;}
img {vertical-align: center;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    width: 100%;
    margin-left: 8em;
}
#shopnow{
    text-decoration: none;
    color: white;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 160px 0px;
    position: absolute;
    bottom: -17px;
    margin-left: -19em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#banner{
    border-radius: 1em;
}
.categorie{
    color: black;
}
.store{
    width: 18em;
    text-align: left;
    display: inline-block;
    margin-left: 1.85em;
}
.horse{
    position: relative;
    overflow: hidden;
}
.horse1{
    position: relative;
    overflow: hidden;
}

.horse:before{
    position: absolute;
    content: '';
    width: 89%;
    height: 220%;
    background: #007bff!important;
    top: -50%;
    opacity: 0.35;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}
.mainevent{
    margin-left: 8em;
    width: 85%;
}
.cardevenement{
    background: #f6f6f6;
    height: 54vh;
}
#dimensionarrow{
    position: absolute;
    width: 37%;
    margin-left: 5em;
    top: -0.2em;
}
.showall1{
    display: flex;
    margin-top: 2em;
    list-style: none;
    margin-left: -2em;
    justify-content: space-between;
}
.SHOWALL{
    margin-left: 70em;
    position: absolute;
}
#navigate{
    width: 8%;
}
#navigate2{
    width: 16%;
}
.event{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-left: -2em;
}
.separator{
    width: 83%;
    height: 0.25vh;
    background: #ccc;
    margin-left: 8em;
    margin-top: 2em;
    opacity: 0.3;
}
.horse1:before{
    position: absolute;
    content: '';
    height: 220%;
    width: 111%;
    background: #007bff!important;
    top: -50%;
    opacity: 0.35;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;

}
.horse:hover:before{
    left: 10%;
}
.horse1:hover:before{
    left: 10%;
}
.likes{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left:0;
    z-index: 2;
    transition: 1.1s;
}
.likes2{
    width: 100%;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 7px;
    z-index: 2;
    transition: 1.1s;
    padding: 0em;
}
.horse:hover .likes{
    top: 80px;
}
.horse1:hover .likes2{
    top: 80px;
}
.article{
    color: gray;
    font-weight: 700;
}
.price{
    font-weight: bolder;
}
.list-categorie{
    background: #f6f6f6;
}
.newitem{
    width: 4%;
    height: 5vh;
    background: #007bff!important;
    border-radius: 52%;
    position: absolute;
    margin-left: 18em;
    margin-top: -1em;
    z-index: 4;
    
}
.newitemcat{
    width: 2.4%;
    height: 30.5px;
    background: #007bff!important;
    border-radius: 2em;
    position: absolute;
    margin-left: 1em;
    margin-top: -9px;
    z-index: 4;
    
}
.chevrecat{
    display: flex;
    background: #007bff!important;
    justify-content: space-between;
    padding-top: 0.7em;
}
.lineup{
    width: 0.1%;
    height: 2vh;
    margin-left: -0.8em;
    background: white;
    position: absolute;
    margin-top: -1.18em;
}
#nouveaute{
    color: white;
    text-align: center;
    margin-top: 5px;
}
#nouveautecat{
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 9px;
}

#chevron{
    margin-left: 54em;
    width: 3%;
    position: absolute;
    margin-top: -3.1em;
}
#chevron1{
    margin-left: 57em;
    width: 3%;
    position: absolute;
    margin-top: -3.1em;
}
.somme{
    list-style: none;
}

.cardy{
       margin-top: -14px;
    margin-left: -3em;
}
.grpcaterogie{
display: flex;
    width:91.3%;
   
}
 .min {
    margin-top: 1.9em;
    margin-left: -3.2em;
    display: flex;
}
.recent{
    background: #007bff!important;
    color: white;
    padding: 0.3em;
}
.recent2{
    
    color: white;
    margin-left: 1em;
   
}
.confi{
    width: 29%;

}
.divide{

    margin-top: 2em;
    border: 1px solid lavender;
    width: 69.9%;
    position: relative;
    border-radius: 0.35em;
    margin-left: 1em;
    background: #f6f6f6;
}
.list-grp{
   
    margin-top: 2em;
    margin-left: 8em;
}
/* The dots/bullets/indicators */
.dot {
    height: 10px;
    width: 9px;
    margin: 4px 2px;
    background-color: #bbb;
    border-radius: 50%; 
    display: inline-block;
  
}
.animated{
    text-align: center;
    animation: zoomIn 1.3s ease-in;
}
@keyframes zoomIn{
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.zoom{
    text-align: center;
    animation: bounceInRight 1.3s ease-in;
}
@keyframes bounceInRight {
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.zoom1{
    text-align: center;
    animation: bounceInLeft 1.3s ease-in;
}
@keyframes bounceInLeft {
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade_perso {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: 6.5s;
}

.but1{
border-radius: 29%;
    padding: 1em;
    background: #007bff!important;
    border: aliceblue;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px;}
}

.dividetopcat{
    margin-top: 3em;
    border: 1px solid lavender;
    width: 82.9%;
    position: relative;
    border-radius: 0.35em;
    margin-left: 8em;
    background: #f6f6f6;
}
#chevroncat{
    margin-left: -1em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}

#chevroncat2{
    margin-left: -3.5em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}
.mincat{
    margin-top: 1.9em;
    margin-left: -2.7em;
    display: flex;
}
.storecat{
    width: 14em;
    text-align: left;
    display: inline-block;
    margin-left: 1.5em;
    PADDING: 1em;
}
.elect{
    padding-left: 3em;
}
.reseau{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 1em;
}
.sociaux{
    width: 10%;
    margin-left: 1.5em;
}
.million{
    margin-top: 4em;
    background: #f6f6f6;
}
.linup{
    width: 83%;
    height: 0.25vh;
    background: black;
    margin-left: 2.5em;
}
#faceicon{
    width: 20%;
}
.topcate{
    list-style: none;
    display: flex;
    margin-left: 22em;
}
.find1{
    margin-left: -26em
}
.find2{
    margin-left: -32em;
}
.find4{
    margin-left: -35em;
}
.company{
    display: flex;
    justify-content: stretch;
}
.findus{

}
.Adresse{
    margin-left: 2.8em;
    margin-top: 2em;
    position: relative;
    border: 1px solid #f6f6f6;
    padding-left: 2em;
    padding-top: 2em;
    width: 27%;
    border-radius: 0.4em;
    background: #f6f6f6;
}
#navigatenes{
    width: 16%;
}
.Adressest{
    margin-left: 2.8em;
    margin-top: 2em;
    position: relative;
    border: 1px solid #f6f6f6;
    padding-left: 2em;
    padding-top: 2em;
    width: 27%;
    border-radius: 0.4em;
    background: #f6f6f6;
}
#streadresse{
    z-index: 1;
    width: 5%;
    position: absolute;
}
#streadresse1{
    z-index: 1;
    width: 3.5%;
    position: absolute;
    margin-top: -6px;
}
.confiden{
    padding-top: 0.5em;
    width: 106%;
}
.search-email{
    display: inline-flex;
    width: 123%;
    
}
.form-sendmail{
    margin-top: 9px;
    margin-left: 8px;
    border: 1px solid #ccc !important;
    border-top-left-radius: 17px !important;
    font-weight: lighter;
    border-bottom-left-radius: 19px !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
    height: 6vh;
    width: 62%;
}
.input-group-email{
    background-color: #007bff!important;
    width: 8%;
    height: 6vh;
    border: 1px solid #ccc;
    margin: 8.8px 11px 20px -1px;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 6px !important;
    cursor: pointer;
    border-bottom-right-radius: 6px !important;
}
.plane-fav{
    text-align: center;
    color: white;
    margin-left: 8px;
    margin-top: 13px;
}
.company2{
    display: flex;
    justify-content: stretch;
}
.adreesefindus{
    display: flex;
    margin-left: 5.3em;
}
.inner{
    overflow: hidden;
}

.inner img {
    transition: all 0.65s ease-in;
}

.inner:hover img{
    transform: scale(1.5); 
}

#carouselimage{

}


#active2{
    background: white;
}
.carousel-item img{
    width: 100%;
    height: inherit;
    object-fit: contain;
}
.rowtype{
    margin-left: 9.1em;
    margin-top: 3em;
    padding-left: 0em;
    padding-right: 0em;
}
.rowtype02{
    border: 1px solid aliceblue;
    padding-left: 0em;
    padding-right: 0em;
    border-radius: .5em;
    background: white;
    height: 85vh;
}
.littleimg{
    margin-top: 2em;
    position: relative;
}
.paced{
    width: 100%;
}
.circle-left{
    position: absolute;
    width: 16%;
    margin-left: 1px;  
    cursor: pointer;
    top: 29px;
}
.circle-right{
    position: absolute;
    width: 16%;
    margin-top: 27px;
    cursor: pointer;
    right: 14px;

}
.detailproduit{
    background: white;
    border: 1px solid aliceblue;
    width: 68%;
    border-radius: 5px;
    margin-left: 11em;
    margin-top: 3em;
    text-align: center;
}
.user2{
padding-top: 1em;
}
.unnamed{
    margin-left: -22px;
    position: absolute;
    width: 3%;
    margin-top: 4px;
}


.partagetwit{
    width: 68%;
    margin-left: 11em;
    margin-top: 1.8em;
}
.facetwitgmail{
    list-style: none;
}
.facetwitgmail1{
    list-style: circle;
}
.ajtfavoris{
    float: left;
    padding-left: 5.5em;
}
.facetweetg{
    width: 14%;
    float: left;
    margin-left: 10.5%;
}
.properdescrip{
    margin-top: 3em;
}
.efferstate{
    background: ghostwhite;
}
.autresinter{
    margin-top: 3em;
    padding-bottom: 3em;
}
.storecat02{
    width: 9.8em;
    text-align: left;
    display: inline-block;
    margin-left: -0.9em;
    height: 32vh;
}
#locat1{
    width: 100%;
    object-fit: contain;
    padding-bottom: 12px;
}